@font-face {
    font-family: 'Spacecomics';
    src: url('../fonts/Spacecomics.ttf') format('truetype');
}

canvas{
    font-family: 'Spacecomics';
    background-image: url("../img/background/background.png");
}